tmf_project/variant_calling/bam/wes46.sam
tmf_project/data/hg38_index/hg38.fa
tmf_project/data/hg38_index/hg38.fa.bwt
tmf_project/data/hg38_index/hg38.fa.pac
single_cell_pipeline/work/27/c4b6d5e6e11bceb0517f8bff9fd04f/doublet_filtered.h5ad
single_cell_pipeline/work/a4/5bbaa84595c02d37f31fb943a1ec43/qc_filtered.h5ad
single_cell_pipeline/work/d5/edcf332fac5478a342548bb1623fc7/control_doublet_filtered.h5ad
single_cell_pipeline/work/2d/a47d335e7784bec4c5fa676aa27a34/merged.h5ad
single_cell_pipeline/work/d4/de21411a0cfcabef395491bf5bb668/harmony.h5ad
single_cell_pipeline/work/99/97e6102f6b3fdd504c92181ae6eada/doublet_filtered.h5ad
single_cell_pipeline/work/4a/4686e5703fcc94af0aa721dcc1aaf3/normalized_pca.h5ad
single_cell_pipeline/work/3f/0412c127243342ac6d16d118042788/qc_filtered.h5ad
single_cell_pipeline/work/af/77091376a001f6edf051fbab5185f0/stim_doublet_filtered.h5ad
single_cell_pipeline/results/normalized/normalized_pca.h5ad
single_cell_pipeline/results/merged/merged.h5ad
single_cell_pipeline/results/integration/harmony/harmony.h5ad
single_cell_pipeline/results/qc/control/qc_filtered.h5ad
single_cell_pipeline/results/qc/stim/qc_filtered.h5ad
single_cell_pipeline/results/doublets/stim/doublet_filtered.h5ad
single_cell_pipeline/results/doublets/stim/stim_doublet_filtered.h5ad
single_cell_pipeline/results/doublets/control/control_doublet_filtered.h5ad
single_cell_pipeline/results/doublets/control/doublet_filtered.h5ad
single_cell_pipeline/.venv/lib/python3.10/site-packages/llvmlite/binding/libllvmlite.so
grapewines_project/admixture/data_filtered/cauc_filtered.final.bed
grapewines_project/admixture/results/cauc_filtered.final.8.P
grapewines_project/admixture/results/cauc_filtered.final.10.P
grapewines_project/admixture/results/cauc_filtered.final.9.P
grapewines_project/smoke_test/smoke_input.vcf.gz
grapewines_project/smoke_test/cauc_smoke_filtered.recode.vcf
**/work/
**/results/
*.bam
*.bai
*.vcf
*.vcf.gz
*.tbi
