nextflow.enable.dsl = 2

params {
    project      = "/path/to/workdir/tmf_project/variant_calling"
    gatk         = "/path/to/tools/gatk-4.2.6.1/gatk"
    ref          = "/path/to/shared-data/ngs_data_analysis/alignment_samtools/ref_genome/hg38.fa"
    samples      = ["wes46", "wes78"]
    fallback_dir = "/path/to/shared-data/ngs_data_analysis/variant_calling/data/gvcf"
    results      = "${params.project}/results"
    annovar      = "/path/to/tools/annovar"
    gene         = "MEFV"
}

process {
    executor = 'slurm'

    beforeScript = '''
        echo "HOST: $(hostname)"
        echo "SLURM_JOB_ID: ${SLURM_JOB_ID}"
        echo "DATE: $(date)"
    '''

    withName: SORT_BAM {
        cpus   = 1
        memory = '4 GB'
        time   = '1h'
    }

    withName: MARK_DUPLICATES {
        cpus   = 1
        memory = '8 GB'
        time   = '2h'
    }

    withName: HAPLOTYPECALLER {
        cpus   = 4
        memory = '16 GB'
        time   = '24h'
    }

    withName: COMBINE_GVCFS {
        cpus   = 1
        memory = '8 GB'
        time   = '2h'
    }

    withName: GENOTYPE_GVCFS {
        cpus   = 2
        memory = '8 GB'
        time   = '12h'
    }

    withName: FILTER_VARIANTS {
        cpus   = 1
        memory = '4 GB'
        time   = '2h'
    }

    withName: ANNOTATE {
        cpus   = 4
        memory = '4 GB'
        time   = '1h'
    }

    withName: ADD_RSIDS {
        cpus   = 1
        memory = '2 GB'
        time   = '30m'
    }

    withName: BEAUTIFY_TABLE {
        cpus   = 1
        memory = '2 GB'
        time   = '30m'
    }
}

timeline {
    enabled   = true
    overwrite = true
}

report {
    enabled   = true
    overwrite = true
}

trace {
    enabled   = true
    overwrite = true
}