params {

    project_dir = "/mnt/nas0/user/polina.shevyakova/grapewines_project/admixture"

    results_dir = "${project_dir}/results"

    scripts_dir = "${project_dir}/scripts"

    fam = "${project_dir}/data_filtered/cauc_filtered.final.fam"

    metadata = "/mnt/nas1/proj/omicss26/gp3/data/metadata/cauc_grape_metadata.csv"

    output_dir = "${project_dir}/output"

    // ADMIXTURE stdout logs with CV errors  (consumed by EXTRACT_CV)
    admixture_log_dir = "${results_dir}/log"

    // Nextflow execution reports
    report_dir = "${project_dir}/log"

}


process {

    executor = "slurm"

    shell = ['/bin/bash', '-euo', 'pipefail']


    withName: EXTRACT_CV {

        cpus = 1
        memory = "2 GB"

    }


    withName: PLOT_CV {

        cpus = 1
        memory = "2 GB"

    }


    withName: BUILD_ORDERS {

        cpus = 1
        memory = "4 GB"

    }


    withName: PLOT_ADMIXTURE_GRID {

        cpus = 2
        memory = "8 GB"

    }

}



timeline {

    enabled = true

    overwrite = true

    file = "${params.report_dir}/timeline.html"

}


report {

    enabled = true

    overwrite = true

    file = "${params.report_dir}/report.html"

}


trace {

    enabled = true

    overwrite = true

    file = "${params.report_dir}/trace.txt"

}


dag {

    enabled = true

    overwrite = true

    file = "${params.report_dir}/dag.html"

}